* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    font-family: monospace;
}

:root {
    --teal: #479092;
    --darkteal: #345168;
    --light: #eeeeee;
    --dark: #171d2b;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

/* Header */

.pageheader,
.footer {
    display: flex;
    background-color: var(--dark);
    min-height: 72px;
    padding: 0px 32px;
    gap: 16px;
    align-items: center;
}

a {
    text-decoration: none;
}

.logo {
    margin-right: auto;
    height: 56px;
    width: auto;
    color: white;
}

.headerbutton {
    padding: 8px 16px;
    background-color: var(--dark);
    text-align: center;
    border-radius: 8px;
    color: white;
}

.headerbutton:hover {
    background-color: var(--darkteal);
}

.home {
    background-color: var(--teal);
}

.home:hover {
    background-color: var(--darkteal);
}

/* Main Body */

.pagebody {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.section {
    flex: 1;
    padding: 32px;
    align-content: center;
    justify-content: center;
}

/* Welcome Section */

.welcome.section {
    background-color: var(--dark);
    display: flex;
    gap: 32px;
    flex-wrap: wrap-reverse;
}

.welcome.content {
    display: flex;
    flex-direction: column;
    flex-basis: 360px;
    gap: 8px;
    justify-content: center;
}

.welcome {
    color: white;
}

button.welcome,
button.action {
    padding: 8px;
    width: 80px;
    max-height: fit-content;
    border-radius: 8px;
    color: white;
    background-color: var(--teal);
}

button.welcome:hover {
    background-color: var(--darkteal);
}

img.welcome {
    height: 160px;
    width: auto;
    flex: 0 1;
}

/* Info Section */

.info.section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
}

h1.info {
    text-align: center;
}

.info.content {
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
    justify-content: center;
}

.info.card {
    flex-basis: 120px;
    text-align: center;
}

img.info {
    border-radius: 8px;
}

img.info:hover {
    border-width: 2px;
    border-style: solid;
    border-color: white;
}

/* Quote Section */

.quote.section {
    background-color: var(--light);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 32px 160px;
}

p.quote {
    font-size: large;
    font-style: italic;
}

p.quote.author {
    text-align: end;
}

/* Action Section */

*.action {
    color: white;
}

.action.section {
    display: flex;
    justify-content: center;
    align-items: center;
}

.action.container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 64px;
    background-color: var(--teal);
    padding: 32px 64px;
    border-radius: 8px;
}

.action.content {
    display: flex;
    max-width: 600px;
}

h1.action {
    font-size: large;
    font-weight: bold;
}

button.action {
    border-width: 1px;
    border-style: solid;
}

button.action:hover {
    background-color: white;
    color: var(--teal)
}

/* Recipe Body */
div.recipe {
    margin: 48px auto;
    max-width: 800px;
    justify-content: center;
}

li {
    margin: 4px 24px;
}

ol li {
    margin: 4px 32px;
}

a {
    color: rgb(71, 144, 146);
}

h2 {
    margin-top: 20px;
}

p {
    margin: 4px 0;
}

img.recipe {
    margin: 10px 0;
}

/* Footer */

.footer {
    justify-content: center;
    color: white;
}

/* Media queries */

@media only screen and (max-width: 450px) {
    .logo {
        height: 32px;
        width: auto;
    }
}